<div id="container">
    <h4 class="titre-h1">Entrez votre e-mail</h4>
    <div id="texte"></div>
    <div class="buttons">
      <button id="btnDefaite">J'avoue ma défaite</button>
      <button id="btnEnvoyer">Valider votre e-mail</button>
    </div>
    <div id="grille-container">
      <div id="grille"></div>
    </div>
    <script src="../assets/ergonomie.js"></script>
</div>

<style>
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }

  .titre-h1 {
    font-size: 1.5rem;
    margin-top: 100px;
    color: white;
  }

  #texte {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 80%;
    text-align: center;
    word-break: break-all;
    color: white;
    font-size: 50px;

    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(12px); /* Effet verre */
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
  }

  #grille-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px); /* Effet verre */

    width: 45px;
    height: 45px;
    overflow: auto;
    border: 2px solid #ccc;
    background: white;
    border-radius: 8px;
    outline: none;

    scrollbar-width: thin;
  }

#grille {
    display: grid;
    grid-template-columns: repeat(100, 20px);
    grid-template-rows: repeat(100, 20px);
    gap: 1px;
    cursor: pointer;
}

#grille:hover {
    animation: grilleShake 2s infinite alternate;
    background-color: black;
}

  @keyframes grilleShake {
    0% { transform: translate(0,0); }
    25% { transform: translate(2px,-2px); }
    50% { transform: translate(-2px,2px); }
    75% { transform: translate(2px,2px); }
    100% { transform: translate(0,0); }
  }

  .lettre {
    width: 20px;
    height: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#f0f0f0;
    border:1px solid #ccc;
    cursor:pointer;
    font-size:12px;
    user-select:none;
    position: relative;
  }

  .lettre:hover{
    background-color: black;
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin: 30px;
  }

/* Style de base commun (Verre) */
#btnDefaite, #btnEnvoyer {
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 12px;
  backdrop-filter: blur(12px);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* --- Bouton ROUGE (Défaite) --- */
#btnDefaite {
  background: rgba(255, 50, 50, 0.15);
    border: 1px solid rgba(255, 100, 100, 0.3);

}

#btnDefaite:hover {
  background: rgba(255, 50, 50, 0.3);

}

/* --- Bouton VERT (Envoyer) --- */
#btnEnvoyer {
  background: rgba(50, 255, 100, 0.15);
  border: 1px solid rgba(100, 255, 150, 0.3);

}

#btnEnvoyer:hover {
  background: rgba(50, 255, 100, 0.3);
}

</style>