---
import Assistant from '../components/Assistant.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/CtrlAltWin.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Ctrl+Alt+Win</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Assistant />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		background: rgb(0, 0, 0);
	}
</style>
